.ruleContent {
    margin-top: 2rem; /* Space between buttons and rules */
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
    background: #fff;
    padding: 1rem 2.3rem;
    border-radius: 10px;
    font-size: 1.4rem;
    /* font-family: 'Monsterrat', sans-serif;
    font-weight: 200; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ruleContent p {
    margin: 1.5rem; /* Space between paragraphs */
}