body {
  margin: 0;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.body {
  animation: fadeIn 0.7s ease-in-out;
}

.body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  /* background: #f5f5f5; */
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 80vh;
  text-align: center; /* Center text */
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8); /* Shrink slightly */
  }
  100% {
    opacity: 1;
    transform: scale(1); /* Original size */
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Slightly larger */
  }
}

.body h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: #fff;
    font-weight: 800;

    /* Animation properties */
    animation: fadeInScale 1s ease-out,
              pulse 3s infinite ease-in-out;
}
